#form,
.resultadoPesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
}

#form {
    background: #FFF;
    margin-top: 2rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.resultadoPesquisa {
    color: #FFF;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: .5rem;
    text-align: center;
    margin: .5rem 0rem .5rem 0rem;
}

#buttonFormPokemon {
    margin: 0 auto;
    width: 5rem;
    padding: .6rem .6rem;
    border: none;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: .7rem;
    font-weight: bold;
}