.pokemonBase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
    animation: slide .3s forwards;
}

.cadeiaEvolutiva{
    display: flex;
    gap: 1rem;
}

.evolucoesPokemon {
    width: 4.5rem;
}

.formaBase{
    position: relative;
    width: 4rem;
    margin-top: -5.7rem;
}

.formaBase:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.nome{
    color: #FFF;
    font-weight: bold;
    font-size: .95rem;
    /* line-height: 10px; */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

